#contact{

	margin:0 0 50px 0;

}

.light-background {
    background-color:$light-background;
}

#contact p {
    color:#FFC46D;
    text-align: center;
}
#contact h2{
	padding-top: 50px;
    text-align: center;
    color:white;
}

#contact .map{
margin:40px 5%;
}

#contact-form{

	background-color: transparent;
	padding: 20px;
	margin-top: 30px;
}
#contact-form input{
	width:calc(100% - 20px);
	padding: 10px 5px 5px 10px;
    background-color: #1A1A1A;
    color:white;
}

#contact-form #contact-submit{
    width:100%;
   

}
#contact-form .button {
    padding: 3px 15px;
    background-color: #137B9B;
    color:white;
    font-weight: bold;
}
#contact-form section{
	padding:10px 0;
}
#contact-texterea{
	width: calc(100% - 18px);
	padding: 10px 5px 5px 10px;
	height: 250px;
    background-color: #1A1A1A;
    color:white;
}

.error {
    display: none;
    color:$red;
}

// #contentNav-involved-hide{
// 	display: none;
// }