footer{
    background-color: #1A1A1A;
    color:white;
    text-align: center;;
}
.sosial-media {
    padding-top:30px;
    padding-bottom:20px;
}
.sosial-media a{
    background-color: #137B9B;
    color:white;
    padding: 8px 12px;
    font-size: 25px;;
    margin:0 10px;
}
footer span {
    color:#FFC46D;
    font-size: 14px;
}

footer p {
    margin:0;
}